<div style='background-color:#A93226;border-radius: 0px;color:white;padding-left:16px;' class="nav-stylings">
  <div class='navbar navbar-inverse' role='navigation'>
    <div style='background-color:#A93226;border-radius: 0px;color:white;padding-left:40px;padding-right:40px;' class="container-fluid">
      <div style='background-color:#A93226;border-radius: 0px;color:white;padding-left:16px;' class="navbar-header">
        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
          <span class='sr-only'>Toggle Navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' href='/'>Jitches</a>
      </div>
      <div style='background-color:#A93226;border-radius: 0px;color:white;padding-left:16px;' class='navbar-collapse collapse'>
        {% if current_user.is_authenticated %}
        <ul class='nav navbar-nav'>
          <li><a href='/'>Home</a></li>
          <li><a href='/business'>Business</a></li>
          <li><a href='/sports'>Sports</a></li>
          <li><a href='/technology'>Technology</a></li>
          <li><a href='/misc'>Misc.</a></li>
        </ul>
        <ul class='nav navbar-nav navbar-right'>
          <li><a class='ratings' href='/writing-pitch'>Write a new pitch</a></li>
          <li style='color:white;'><a href="{{url_for('main.profile', uname=current_user.username, id=current_user.id)}}">{{current_user.username}}</a></li>
          <li><a href="{{url_for('auth.logout')}}">Sign Out</a></li>
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</div>
